.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-danger {
  color: #e45848;
  text-align: left;
  font-size: small;
}
.home {
  position: absolute;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://www.allwhitebackground.com/images/6/Gradient-Background-Photos.jpg");
}

.form {
  margin: 0 auto;

  background-color: white;
  border: 1px solid lightgrey;
  padding: 30px;
  border-radius: 3px;
}
.sign_in {
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  background-color: #0000ff;
  height: 10%;
}
.head {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;

  color: #0000ff;
  border-bottom: 1px solid lightgray;
}

/* ------------Login.js end-------------------- */

/* ------------Home.js start-------------------- */
.logo {
  width: 50px;
  height: 50px;
}
.menulist {
  font-weight: bold;
}
.menubar {
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.allpost {
  background-color: #e2e2e2;
}
.category-list {
  margin-top: 10px;
}
.tag-list {
  margin-top: 10px;
}
.signin {
  margin-right: 10px;
}
.usericon {
  margin-right: 3px;
}
.adminname {
  margin-right: 10px;
}
.catagoryinline {
  margin-bottom: 10px;
  padding-left: 15px;
  width: 60%;
}
.post {
  padding-top: 15px;
}
.category-title {
  margin-block-end: 2px;

  margin-inline-end: 15px;
  color: white;
  border-radius: 5px;
  background-color: #0b399e;
}
.dispaly-post {
  margin-top: 15px;
  padding: 15px;
}
.singledispaly-post {
  margin-top: 15px;
  padding: 15px;
  margin-bottom: 15px;
}
.display-tag {
  justify-content: left;
  align-items: flex-start;

  margin-top: 10px;
}
.tagicon {
  padding-right: 2px;
}
.post-labell {
  color: white;
  font: bold;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.taginline {
  width: 50%;
}
.date {
  font-size: 13px;
}
.admin-icon {
  font-size: 13px;
  margin-left: 5px;
}
.user {
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.username-header {
  font-size: 20px;
  font-weight: bold;
  color: #0000ff;
}
.like-icon {
  margin-top: 15px;
  background-color: white;
  float: right;
  color: #dc3c29;
}
.post-like {
  margin-top: 15px;
  border-top: 1px solid lightgray;
}
.userr {
  font-size: 20px;
  color: teal;
  margin-top: 10px;
}
.post-title {
  font-size: 40px;
  font-weight: bold;
  color: #0b399e;
}
.post-content {
  font-size: 18px;
}
.tag-title {
  color: #0b399e;
}
.singlepost-content {
  max-width: 100%;

  font-size: 18px;
}
.edit-icon {
  margin-right: 10px;
  color: blue;
}
.delete-icon {
  color: #ea2b18;
}
.editpost-icon {
  margin-right: 5px;
  color: blue;
}
.deletepost-icon {
  color: #ea2b18;
}
.readmore {
  float: left;
  margin-top: 15px;
}
.catag {
  border-bottom: 1px solid lightgray;

  margin-bottom: 10px;
}
.main_tags {
  height: 100vh;
  background-color: lightgrey;
}
.sweetalertt {
  background-color: blueviolet;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}
.drop-menu {
  border-top: 1px solid lightgray;
}
.dropdown {
  width: 250px;
}
.logout {
  height: 40px;
  margin-left: 10px;
  text-align: center;
}
.logout-dis {
  border-top: 1px solid lightgrey;
}

.add-tag {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
/* ------------Home.js end-------------------- */

@media only screen and (max-device-width: 425px) {
  .tabell {
    font-size: 8px;
    font-weight: bold;
  }
}

@media only screen and (max-device-width: 375px) {
  .tabell {
    font-size: 6px;
    font-weight: bold;
  }
}

.post_image {
  height: 350px;
}
