body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ------------Login.js , signup.js start-------------------- */
.text-danger {
  color: #e45848;
  text-align: left;
  font-size: small;
}
.home {
  position: absolute;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://www.allwhitebackground.com/images/6/Gradient-Background-Photos.jpg");
  /* background-color: #1d4f6e; */
}

.form {
  margin: 0 auto;
  /* background-color: #1d4f6e; */
  background-color: white;
  border: 1px solid lightgrey;
  padding: 30px;
  border-radius: 3px;
}
.signbutton {
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  background-color: #0000ff;
  height: 10%;
  width: 40%;
}
.head {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  /* color: white; */
  color: #0000ff;
  border-bottom: 1px solid lightgray;
}

/* ------------Login.js end-------------------- */

/* ------------Home.js start-------------------- */
.logo {
  width: 50px;
  height: 50px;
}
.navbar {
  /* position: fixed;
  top: 0; */
  width: 100%;
  /* overflow: hidden; */

  background-color: teal;
}
.allpost {
  background-color: lightgray;
}
.signinbut {
  margin-right: 10px;
  width: 120px;
}
.usericon {
  margin-right: 3px;
}
.adminname {
  margin-right: 10px;
}

.catagoryinline {
  width: 50%;
}
.display_category {
  display: inline-block;
}
.post {
  padding-top: 15px;
}
.categorybutton {
  width: 100px;
  height: 32px;
}
.dispaly_post {
  margin-top: 15px;
  padding: 15px;
}
.display_tag {
  margin-top: 10px;
}
.post_labell {
  color: white;
  font: bold;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.taginline {
  width: 50%;
}
.date {
  padding-left: 20px;
  font-weight: bold;
  color: gray;
}
.user {
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.usericon {
}
.username {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.post_title {
  font-size: 40px;
  font-weight: bold;
  color: teal;
}
.post_content {
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1;
  -webkit-line-clamp: 3;
  font-weight: bold;
  font-size: 20px;

  height: 60px; */

  color: gray;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.readmore {
  margin-top: 5px;
}
.catag {
  margin-bottom: 10px;
}
.main_tags {
  height: 100vh;
  background-color: lightgrey;
}
.main_tag {
  height: 100vh;
  background-color: lightgrey;
}
.usericon {
}
.logout {
  margin-left: 25%;
}
.add_tag {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
/* ------------Home.js end-------------------- */

@media only screen and (max-device-width: 425px) {
  .tabell {
    font-size: 8px;
    font-weight: bold;
  }
}

@media only screen and (max-device-width: 375px) {
  .tabell {
    font-size: 6px;
    font-weight: bold;
  }
}
@media only screen and (max-device-width: 320px) {
  .tabell {
    font-size: 4px;
    font-weight: bold;
  }
}
